.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.hero{
    width: 100vw;
    height: 60vh;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.sub-img{
    width: 100vw;
    height: 20vh;
}

.flex{
    display: flex;
}

.apart{
    justify-content: space-around;
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
}

.header{
    width: 100vw;
    height: 20vh;
    
}